#https://blog.jdblischak.com/posts/circleci-for-r-1/
#NOT_CRAN true should mean all tests run, including skip on cran
version: 2
jobs:
  deploy-job:
    steps:
      - add_ssh_keys:
          fingerprints:
            - "15:d8:a8:2a:1c:4e:f0:52:1d:c7:28:24:e9:c9:c6:6a"
        
  build:
    docker:
      - image: rocker/verse:latest
        environment:
          NOT_CRAN: true
    steps:
      - checkout
      - run:
          name: Install package dependencies
          command: | 
            R -e 'install.packages("remotes")'
            R -e 'remotes::install_deps(dependencies = TRUE)'
      - run:
          name: Build package
          command: R CMD build .
      - run:
          name: Check package
          command: R CMD check *tar.gz --no-manual
      - run:
          name: Calculate code coverage
          no_output_timeout: 40m
          command: Rscript -e 'covr::codecov()'
          